<form class="form form-horizontal">
    <div class="control-group">
        <label class="control-label" for="date">{{'Date'|i18n}}</label>
        <div class="controls">
            <input type="text" name="date" id="date" class="input-xlarge" my:datepicker />
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="selected-contect-name">{{'Imm. pass to'|i18n}}</label>
        <div class="controls">
            <select id="selected-contect-name" name="selectedContactName" data-placeholder="Choose a publisher..." my:chosen="availableContacts" ></select>
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="mark-as-processed">{{'processed'|i18n}}</label>
        <div class="controls">
            <input type="checkbox" name="markAsProcessed" id="mark-as-processed" />
        </div>
    </div>
    <div class="form-actions"> 
        <a ng:click="cancel()" href="javascript:void(0);" class="btn btn-danger">{{'Cancel'|i18n}}</a>
        <a ng:click="save()" href="javascript:void(0);" class="btn btn-primary">{{'Save'|i18n}}</a>
    </div>
</form>

